/*-Navigation-*/
.homeNav{
  background-color: #FFCB0F;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 25px;
  z-index: 1;
  text-align:center;
  border-bottom: solid 5px #3a2700;
  font-size: 20px;
  box-shadow: 0px 10px #cacaca;
}

.homeNav > a{
  display: inline-block;
  border: solid 3px #FFFE3F;
  border-radius: .583em;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-bottom: 7px;
}

/*---------------------*/
.homeNav > a:not(last-child){
  margin-right: 25px;
}
/*-Navigation Margins-*/

.homeNav a:hover{
  background-color: yellow;
}
/*-Main body or page classes/Selectors-*/

.monthNav a{
  border-left: 2px solid yellow;
  border-right: 2px solid yellow;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 25px 25px 3px 3px;
}

.monthNav a:hover{
  background-color: yellow;
}

.monthNav p{
  display:inline;
  padding-left: 17px;
  padding-bottom: 3px;
  margin-right: auto;
  cursor: pointer;
}

/*-Body Handlers-*/

.usrPost{/*-Hande's the styling of the posted messages to the blog.-*/
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 1.0rem;
  padding-left: 15px;
  padding-bottom: 7px;
  max-width: 55%;
  min-width: 500px;
  margin: auto;/*-Keep's the posted messages center-*/
  margin-top: 15px; /*-Keep's the 'Gutter' Element between post's top to bottom-*/
}

body{
  background-color: #dbdbdb;
  padding-top: 120px;
}

textarea{
  width: 97%;
  resize: none;
}

button{
  font-size: 18px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-top: 2px;
  border: 2px solid #cacaca;
  border-radius: 25px;
  background-color: #FFED2F;
}

button:hover{
  background-color: #FFFE3F;
}
/*-Body Handler Ends-*/

/*-Rules that Handle Content-*/
.usrPost input, textarea{
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.date{
  font-size: 10px;
  font-style: italic oblique;
  color: #999;
  padding-bottom: -25px;
}

/*-Style Rules centered around cell phones.-*/
@media screen and (min-width: 481px;){
  body{
    background-color: #FFF;
  }

}
